main {
    line-height: 1.4;
}

h1 {
    @extend footer;
}

button {
    font-size: 1.2em;
}

.menu-link {
    text-decoration: none;
}

#menu-underline {
    text-decoration: underline;
}

nav {
    @extend footer;

    li {
        list-style: none;
        font-size: 1.2em;
    }
}

footer {
    text-align: center;
}