//Variable för font-family
$font-stack: 'Inter', sans-serif;

//Hela sidan använder font-stack.variabeln till typsnitt
body {
    font-family: $font-stack;
}

main {
    line-height: 1.4;
}

h1 {
    @extend footer;
}

h2, h3 {
    margin-bottom: 0;
}

h3 {
    text-align: center;
}

p {
    margin-top: 5px;
    font-size: 1em;
}

button {
    font-size: 1.2em;
}

.menu-link {
    text-decoration: none;
}

#menu-underline {
    text-decoration: underline;
}

nav {
    @extend footer;

    li {
        list-style: none;
        font-size: 1.2em;
    }
}

footer {
    text-align: center;
}


