
//Skakanimation för länkar i menyn som inte fungerar
.ph-link:hover {
    animation: shake 0.5s;
  
    /*Återupprepande animation*/
    animation-iteration-count: infinite;
  }

//Skakanimation för länkar i menyn som inte fungerar
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }

  }

.titleAnimation {
  animation: title 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes title {
  0% { transform: translate(-0%, 0%);}
  25% { transform: translate(-50%, 0%);}
  50% { transform: translate( 0%, 0%);}
  75% { transform: translate( 50%, 0%);}
  100% { transform: translate( 0%, 0%);}
}


#arrow {
  position: absolute;
  transform: translate(-50%);
  margin-left: 50%;
  animation: scroll 5s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  display: none;
}

@keyframes scroll {
  0% {display: none;}
  0% { transform: translate(-50%, 0%);}
  1% {display: block;}
  50% { transform: translate(-50%, 100%);}
  100% { transform: translate(-50%, 0%);}
  100% {display: none;}
}

.picture-container:hover {
  animation: zooma 3s;
  animation-fill-mode: forwards;
  .pictures {
    width: 100%;
  }  
}


@keyframes zooma {
  0% {width: 800px;}
  100% {width: 1200px;}
}

@media (min-width: 700px) {
@keyframes logoRotate {
  0% { transform: translate(-50%, 0%) rotate(0deg); }
  100% { transform: translate(-50%, 0%) rotate(180deg); }
}

.drop:hover {
  animation: logoRotate 3s;
  animation-fill-mode: forwards;  
}
}

