@use "../abstracts/variables";
@use "../abstracts/mixins";


//Skakanimation för länkar i menyn som inte fungerar
.ph-link:hover {
  animation: shake 0.5s;

  /*Återupprepande animation*/
  animation-iteration-count: infinite;
}

//Skakanimation för länkar i menyn som inte fungerar
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}

//H1 Titel animationsstyling
.titleAnimation {
  text-align: center;
  margin-top: 100px;
  animation: title 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-left: auto;
  margin-right: auto;
  width: 165px;
}

//Animation för H1 som glider sakta över sidan
@keyframes title {
  0% {
    transform: translate(-0%, 0%);
  }

  25% {
    transform: translate(-20%, 0%);
  }

  50% {
    transform: translate(0%, 0%);
  }

  75% {
    transform: translate(15%, 0%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

//Position av en pil som ska visas vid scorr med hjälp av javascript
#arrow {
  position: fixed;
  animation: scroll 3s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  display: none;
  right: 45px;
  margin-top: -20px;
  top: 50%;
  transform: translate(0%, -50%);
}

//Scrollbar som visar posionon av scrollning
#scrollbar {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translate(0%, -50%);
  overflow: hidden;
  height: 400px;
  width: 20px;
  border-radius: 10px;
  background-color: darkblue;
  display: none;
}

//Scrollbarens rutor
#scrollbar1,
#scrollbar2,
#scrollbar3,
#scrollbar4,
#scrollbar5 {
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 80px;
}

//Animationen som tillhör arrow som gör att den rör sig upp och ner vid skroll
@keyframes scroll {

  /*0% {
    display: none;
  }
*/
  0% {
    transform: translate(0%, -100%);
  }

  1% {
    display: block;
  }

  50% {
    transform: translate(0%, 100%);
  }

  100% {
    transform: translate(0%, -100%);
  }

  /*
  100% {
    display: none;
  }*/
}

//Vid hoover över bilder ska en zoomande animation starta
.picture-container:hover {
  animation: zooma 5s;
  animation-fill-mode: forwards;

  .pictures {
    width: 100%;
  }
}

//Zoomande animation till bilder
@keyframes zooma {
  0% {
    width: 400px;
  }

  100% {
    width: 1200px;
  }
}

//Behållade till alla triangle slicear
#slice-container {
  transform: translate(-50%);
  margin-left: 50%;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  animation: rotate1 5s infinite linear;
  z-index: 1;
}

//Vid hover förstoras tårtbitarna och hela containern
#slice-container:hover {
  animation-play-state: paused;
  width: 80px;
  height: 80px;

  #yellow,
  #pink,
  #blue,
  #red {
    border-width: 40px;
  }
}

//Roterande animation till behållaren för tårtbitarna/färgvalen
@keyframes rotate1 {
  0% {
    transform: translate(-50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%) rotate(360deg);
  }
}

//Utseende av tårtbitarna och tårtbitar till färgval
#yellow,
#chooseyellow {
  @include mixins.triangle();
  border-top: variables.$triangle-size solid #d4d77f;
  transform: rotate(315deg);
}

#pink,
#choosepink {
  @include mixins.triangle();
  border-top: variables.$triangle-size solid #fbe2ff;
  transform: rotate(135deg);
}

#blue,
#chooseblue {
  @include mixins.triangle();
  border-top: variables.$triangle-size solid #30325b;
  transform: rotate(45deg);
}

#red,
#choosered {
  @include mixins.triangle();
  border-top: variables.$triangle-size solid #6d0000;
  transform: rotate(225deg);
}

//En egen animation för varje färgvalsknapp
@keyframes yellow-ani {
  0% {
    margin-top: -70px;
    margin-left: -30px;
  }

  100% {
    margin-top: -110px;
    margin-left: -120px;
  }
}

@keyframes blue-ani {
  0% {
    margin-top: -70px;
    margin-right: -30px;
  }

  100% {
    margin-top: -110px;
    margin-right: -120px;
  }
}

@keyframes red-ani {
  0% {
    margin-top: -70px;
    margin-left: -30px;
  }

  100% {
    margin-top: 10px;
    margin-left: -120px;
  }
}

@keyframes pink-ani {
  0% {
    margin-top: -70px;
    margin-right: -30px;
  }

  100% {
    margin-top: 10px;
    margin-right: -120px;
  }
}

//Extrastyling för varje valknapp av färg
#chooseyellow {
  animation: yellow-ani 5s;
  transform: rotate(315deg);
  left: 50%;
  margin-top: -110px;
  margin-left: -120px;
  display: none;
}

#choosepink {
  animation: pink-ani 5s;
  transform: rotate(135deg);
  right: 50%;
  margin-top: 10px;
  margin-right: -120px;
  display: none;
}

#chooseblue {

  animation: blue-ani 5s;
  transform: rotate(45deg);
  right: 50%;
  margin-top: -110px;
  margin-right: -120px;
  display: none;
}

#choosered {
  animation: red-ani 5s;
  transform: rotate(225deg);
  left: 50%;
  margin-top: 10px;
  margin-left: -120px;
  display: none;
}

//Vid hoover förstoras även dessa tårtbitar
#chooseyellow:hover,
#choosepink:hover,
#chooseblue:hover,
#choosered:hover {
  border-width: 40px;
}

//Mediaquerie för att inte logotypens animation ska förstöra mobilläget
@media (min-width: 700px) {

  //animation som vänder upp och ned på logotypen
  @keyframes logoRotate {
    0% {
      transform: translate(-50%, 0%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, 0%) rotate(180deg);
    }
  }

  //hoover som startar logan animation
  .drop:hover {
    animation: logoRotate 3s;
    animation-fill-mode: forwards;
  }

  @keyframes title {
    0% {
      transform: translate(-0%, 0%);
    }

    25% {
      transform: translate(-90%, 0%);
    }

    50% {
      transform: translate(0%, 0%);
    }

    75% {
      transform: translate(80%, 0%);
    }

    100% {
      transform: translate(0%, 0%);
    }
  }

  //Scrollbar som visar posionon av scrollning
  #scrollbar {
    display: block;
  }
}