@use "../abstracts/colors";
@use "../abstracts/variables";

//mixin för mörkttema till webbplatsen
@mixin dark() {
    background-color: black;
    color: white;
    border-color: white;
}

//Mixin för ljusttema till webbplatsen
@mixin light() {
    background-color: darken(white, 2%);
    color: black;
    border-color: black;
}

//Generell styling av knappar
@mixin button {
    position: absolute;
    background-color: colors.$button;
    border-radius: 5px;
    border-style: none;
    align-items: center;
    padding: 8px 15px;
    border-width: 0;
    border-radius: 5px;
    color: colors.$bars;
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.2);

    &:hover {
        background-color: colors.$hover;
    }
}

//Mixin för trianglarna till färgvalsknappen
@mixin triangle() {
    width: 0;
    height: 0;
    border-radius: 50%;
    border-right: variables.$triangle-size solid transparent;
    border-bottom: variables.$triangle-size solid transparent;
    border-left: variables.$triangle-size solid transparent;
    position: absolute;
  }
