@use "../abstracts/colors";
@use "../abstracts/mixins";



/*Specifik styling Menyknapp för öppnaknappen i headern*/
#btn-open {
    display: flex;
    right: 25px;
    top: 27px;
        @include mixins.button();
}

.meny-text{
    position: relative;
}

/*Specifik styling av stängmeny-knappen i utfälld meny*/
#btn-close {
    display: flex;
    margin-left: 50%;
    margin-top: 20px;
    transform: translate(-50%);
    width: 180px;
    @include mixins.button();
}


/*marginal till streck i menyknappen*/
.menu-icon {
    margin-right: 10px;
}

/*styling av de tre strecken i menyknapp öppna*/
.bars{
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    background-color: colors.$bars;
    margin: 5px 0;
}

/*styling av stäck som är vridna till ett kors i stängknappen i menyn*/
.bars-cross1 {
    transform: rotate(45deg);
    margin: 2px 0 0 0;
    @extend .bars;
}

/*styling av stäck som är vridna till ett kors i stängknappen i menyn*/
.bars-cross2 {
    transform: rotate(-45deg);
    margin: -3px 0 0 0;
    @extend .bars;
}

//Döljer knappar vid visning på större skärmar
@media (min-width: 700px) {
#btn-close,
#btn-open {
    display: none;
}
}