.logo {
    position: absolute;
    top: 15px;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 1;
    border-radius: 5px;
    background: var(--logo);
    width: 200px;
    height: 78px;
}

body {
    --logo: url(/src/img/Automation-logos_white.svg) no-repeat;
}

body[data-theme="dark"] {
    --logo: url(/src/img/Automation-logos_black.svg) no-repeat;
  }

.logo:hover {
    background-color: rgb(0, 144, 192);
}

@media (min-width: 700px) {
    .logo {
        z-index: 3;
    }

}

@media (max-width: 320px) {
    .logo {
        transform: none;
        left: 5px;
        margin-left: 0;
        width: 170px;
        height: 70px;
    }
}