@use "../abstracts/colors";

//Placering och storlek av logotyp. Laddas in från media querie för färgtema och med CSS-variabel
.logo {
    position: absolute;
    top: 15px;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 1;
    border-radius: 5px;
    background: var(--logo);
    width: 200px;
    height: 78px;
}

.logo:hover {
    background-color: colors.$hover;
}

/*media querie som gör att logotyp och menyknapp fungerar ända ner till 250px visningsbredd*/
@media (max-width: 320px) {
    .logo {
        transform: none;
        left: 5px;
        margin-left: 0;
        width: 170px;
        height: 70px;
    }
}