@use "../abstracts/colors";

.logo {
    position: absolute;
    top: 15px;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 1;
    border-radius: 5px;
    background: var(--logo);
    width: 200px;
    height: 78px;
}

.logo:hover {
    background-color: colors.$hover;
}

@media (min-width: 700px) {
    .logo {
        z-index: 3;
    }

}

@media (max-width: 320px) {
    .logo {
        transform: none;
        left: 5px;
        margin-left: 0;
        width: 170px;
        height: 70px;
    }
}