body {
    margin: 0px;
}

main {
    margin-left: 1%;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text {
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.picture-container{
    @extend .pictures;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pictures {
    width: 600px;
    max-width: 100%;

}
