body {
    margin: 0px;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.picture-container{
    max-width: 100%;
    width: 600px;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}

.pictures {
    width: 600px;
    max-width: 100%;
}
